@model MOBOT.BHL.AdminWeb.Models.CitationImportHistoryModel
@section Javascript
{
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["jQueryDataTablesPath"])" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('#recordlist').dataTable( {
				"bProcessing": true,
				"bFilter": false,
				"bLengthChange": false,
				"iDisplayLength": 20,
                "sDom": '<"H"lfr>t<"F"ip>',
				"sPaginationType": "full_numbers"
				,"aoColumns": [
					null,
					null,
					null,
					null,
					{ "bSortable": false },
					{ "bSortable": false },
					{ "bSortable": false },
					{ "bSortable": false },
					{ "bSortable": false }
				]
                ,"aaSorting": [[3,'desc']]
			} );
		} );
	</script>
}
@section CSS
{
    <link href="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["jQueryDataTablesCSSPath"])" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Citation Import History";
}

<p>
    <a href="/">< Return to Dashboard</a><br />
</p>
<span class="pageHeader">@ViewBag.Title</span><hr />
<br />

@using (Html.BeginForm(null, null, FormMethod.Post)) 
{
    
    <div style="margin-bottom:10px">
        <div>Content Provider: @Html.DropDownListFor(m => m.Institution, new SelectList(ViewBag.InstitutionList, "InstitutionCode", "InstitutionName"), "-- All --")</div>
        <div>Import Status: @Html.DropDownListFor(m => m.ImportFileStatus, new SelectList(ViewBag.ImportFileStatusList, "ImportFileStatusID", "StatusName"), "-- All --")</div>
        <div>Dates: @Html.DropDownListFor(m => m.ReportDateRange, new SelectList(ViewBag.ReportDateRangeList, "key", "value", "1"), "-- All --")</div>
        <div><input type="submit" name="btnShow" id="btnShow" value="Update" /></div>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="recordlist" style="width:100%">
	    <thead>
            <tr>
                <th colspan="4" style="border-bottom:0px"></th>
                <th colspan="5" style="border-bottom:0px">Records</th>
            </tr>
		    <tr>
			    <th width="25%">Filename</th>
			    <th width="30%">Contributor</th>
			    <th width="10%">Status</th>
                <th width="10%">Date</th>
			    <th width="5%">Total</th>
			    <th width="5%">New</th>
			    <th width="5%">Import</th>
			    <th width="5%">Reject</th>
			    <th width="5%">Error</th>
		    </tr>
	    </thead>
	    <tbody>

			@foreach (MOBOT.BHL.DataObjects.ImportFile importFile in Model.ImportFileList)
            {
                <tr>
                    <td><a href="/citationimport/review/@importFile.ImportFileID">@importFile.ImportFileNameClean</a></td>
                    <td>@importFile.ContributorName</td>
                    <td>@importFile.StatusName</td>
                    <td>@importFile.LastModifiedDate</td>
                    <td>@importFile.TotalRecords</td>
                    <td>@importFile.NewRecords</td>
                    <td>@importFile.ImportedRecords</td>
                    <td>@importFile.RejectedRecords</td>
                    <td>@importFile.ErrorRecords</td>
                </tr>
            }

	    </tbody>
	    <tfoot>
		    <tr>
			    <th>Filename</th>
			    <th>Contributor</th>
			    <th>Status</th>
			    <th>Date</th>
			    <th>Total</th>
			    <th>New</th>
			    <th>Import</th>
			    <th>Reject</th>
			    <th>Error</th>
		    </tr>
                <th colspan="4" style="border-top:0px"></th>
                <th colspan="5" style="border-top:0px">Records</th>
	    </tfoot>
    </table>

}


