@model MOBOT.BHL.AdminWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    .custom-control-label {
        padding-top: 0px;
        margin-bottom: 0px;
        text-align: right;
    }

    .formField {
        padding-top: 0px;
    }
</style>
<br />
<span class="pageHeader">Register User Account</span>
<hr />
<br />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div>
        <p><h5>After a new user account is registered, a BHL administrator will need to assign the appropriate permissions to the account before it is able to access restricted BHL functionality.</h5></p>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 custom-control-label" })
        <div class="formField col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 custom-control-label" })
        <div class="formField col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 custom-control-label" })
        <div class="formField col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    //Add the LastName, FirstName, and Email Properties:
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 custom-control-label" })
        <div class="formField col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 custom-control-label" })
        <div class="formField col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 custom-control-label" })
        <div class="formField col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.HomeInstitutionName, new { @class = "custom-control-label col-md-2" })
        <div class="formField col-md-10">
            @Html.DropDownListFor(model => model.HomeInstitutionCode, new System.Web.Mvc.SelectList(ViewBag.Institutions, "Value", "Text"), htmlAttributes: new { @class = "formField form-control", id = "HomeInstitutionCode" })
            <div>If your Content Provider (Home Institution) is not listed, please choose "Unknown".</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
