@model MOBOT.BHL.AdminWeb.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<br />
<span class="pageHeader">Reset Your Password</span><hr /><br />

@if (ViewBag.PasswordReset ?? false)
{
    <p>Your password has been reset.  @Html.ActionLink("Click here", "Login") to log in.</p>
}
else
{
    using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Token)

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset Password" />
            </div>
        </div>
    }
}
