@model MOBOT.BHL.AdminWeb.Models.InstitutionGroupsModel

@{
    ViewBag.Title = "Content Provider Groups";
}

<style>
    .igLinkButton{
      display: inline;
      padding: 0;
      border: 0;
      background-color: transparent;
      color: #23527c;
      text-decoration: underline;
    }
</style>

<input type="hidden" id="selectTab" value="@ViewBag.Action" />
<p><a href="/">&lt; Return to Dashboard</a></p>
<span class="pageHeader">@ViewBag.Title</span>
<hr />

<div style="padding:5px;margin-top:5px;margin-bottom:5px;width:800px">
    Content Provider Groups provide a way to group together institutions or individuals that have contributed to BHL in some way.
    These groups are primarily helpful for reporting purposes.
</div>
<a href="/admin/groupedit/0">Create New</a>
<form method="post">
    <div class="box" style="padding:5px;margin-right:5px;width:800px; max-height:500px; overflow:auto">
        <table cellpadding="4" width="100%">
            <tbody>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th># of Content Providers</th>
                    <th></th>
                </tr>
                @foreach (var ig in Model.Groups)
                {
                    <tr>
                        <td>
                            <a href="/admin/groupedit/@ig.InstitutionGroupID">Edit</a>
                            <input type="button" class="igLinkButton" value="Delete" onclick="deleteGroup(@ig.InstitutionGroupID)" />
                        </td>
                        <td>@ig.InstitutionGroupName</td>
                        <td>@ig.InstitutionGroupDescription</td>
                        <td align="center">
                            @ig.NumberOfInstitutions
                        </td>
                        <td>
                            <a href="/admin/groupinstitutions/@ig.InstitutionGroupID">View/Edit Content Providers</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        <br>
    </div>
</form>

<script>
    function deleteGroup(id) {
        if (confirm("Delete this Group?")) {
            document.location.href = '/admin/GroupDelete/' + id;
        }
    }
</script>
