@model MOBOT.BHL.Web2.Models.SubjectModel

@{
    ViewBag.Title = Model.Keyword + " - Biodiversity Heritage Library";
}

<nav id="sub-nav-tabs" class="no-js-hide">
    <div class="column-wrap">
        <div id="linkbar">
            <h3>Subject "@Model.Keyword"</h3>
            <ul>
                <li id="spanTitleSummary" class="titles">
                    <a href="#/titles" title="Books">Books/Journals (@Model.TotalBooks)</a>
                </li>
                <li id="spanSectionSummary" class="sections">
                    <a href="#/sections" title="Parts">Chapters/Articles/Treatments (@Model.TotalSegments)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="sortbar">
    <div class="column-wrap">
        <span>Sort By:</span>
        <ul>
            <li class="@(Model.Sort == "title" || Model.Sort == "" ? "activesort" : "")"><a href="/subject/@HttpUtility.UrlEncode(Model.Keyword)/title?bpg=1&ppg=1&psize=@Model.NumPerPage">Title</a></li>
            <li class="@(Model.Sort == "author" ? "activesort" : "")"><a href="/subject/@HttpUtility.UrlEncode(Model.Keyword)/author?bpg=1&ppg=1&psize=@Model.NumPerPage">Author</a></li>
            <li class="@(Model.Sort == "year" ? "activesort" : "")"><a href="/subject/@HttpUtility.UrlEncode(Model.Keyword)/year?bpg=1&ppg=1&psize=@Model.NumPerPage">Year</a></li>
        </ul>
        <div class="floatclear"></div>
    </div>
</div>
<div id="content" class="column-wrap clearfix">
    <section class="browse">
        <div id="sub-sections" class="column-wrap clearfix">
            <div id="titles">
                <div id="titlecontent" class="content">
                    <section>
                        @Html.Partial("_BrowsePager", new ViewDataDictionary { { "path", "/subject/" + HttpUtility.UrlEncode(Model.Keyword) }, { "sort", Model.Sort }, { "target", "book" }, { "bookPage", Model.BookPage }, { "partPage", Model.PartPage }, { "numPerPage", Model.NumPerPage }, { "totalPublications", Model.TotalBooks }, { "hash", "#/titles" } })
                        @Html.Partial("_BookBrowse", new ViewDataDictionary { { "searchResult", Model.BookResults }, { "showVolume", false } })
                        @Html.Partial("_BrowsePager", new ViewDataDictionary { { "path", "/subject/" + HttpUtility.UrlEncode(Model.Keyword) }, { "sort", Model.Sort }, { "target", "book" }, { "bookPage", Model.BookPage }, { "partPage", Model.PartPage }, { "numPerPage", Model.NumPerPage }, { "totalPublications", Model.TotalBooks }, { "hash", "#/titles" } })
                    </section>
                </div>
            </div>
            <div id="sections" class="floatclear">
                <div id="segmentcontent" class="content">
                    <section>
                        @Html.Partial("_BrowsePager", new ViewDataDictionary { { "path", "/subject/" + HttpUtility.UrlEncode(Model.Keyword) }, { "sort", Model.Sort }, { "target", "part" }, { "bookPage", Model.BookPage }, { "partPage", Model.PartPage }, { "numPerPage", Model.NumPerPage }, { "totalPublications", Model.TotalSegments }, { "hash", "#/sections" } })
                        @Html.Partial("_SegmentBrowse", new ViewDataDictionary { { "searchResult", Model.SegmentResults } })
                        @Html.Partial("_BrowsePager", new ViewDataDictionary { { "path", "/subject/" + HttpUtility.UrlEncode(Model.Keyword) }, { "sort", Model.Sort }, { "target", "part" }, { "bookPage", Model.BookPage }, { "partPage", Model.PartPage }, { "numPerPage", Model.NumPerPage }, { "totalPublications", Model.TotalSegments }, { "hash", "#/sections" } })
                    </section>
                </div>
            </div>
        </div>
    </section>
    <aside>
        @Html.Action("_DonateFeature", "Partial")
        @Html.Action("_CollectionFeature", "Partial")
    </aside>
</div>

@section scripts {
    <script src="/js/libs/jquery.hoverintent.min.js"></script>
    <script src="/js/libs/jquery.text-overflow.min.js"></script>

    <script type="text/javascript">
//<![CDATA[
$(document).ready(function () {
    var subSections = $('#sub-sections').children(); //.hide();

    // Navigate to the default sub-section if no hash
    if (!location.hash) {
        if (@Model.BookResults.Count > 0) {
            window.location.replace('#/titles');
        }
        else if (@Model.SegmentResults.Count > 0) {
            window.location.replace('#/sections');
        }
        else {
            window.location.replace('#/titles');
        }
    }

    selectTab();
});

$(window).on('hashchange', function () {
    selectTab();
});

function selectTab() {
    var state = location.hash;
    var subSections = $('#sub-sections').children();

    if (!$('#sub-sections').is(':visible')) {
        $('#sub-sections').show();
    }
    var stateName = state.replace(/[^a-zA-Z0-9\s]/gi, '');
    var subSection = $('#' + stateName);
    subSections.hide();

    // Highlight selected link
    $('#linkbar a').removeClass('active');
    $('#linkbar .' + stateName + ' a').addClass('active').blur();

    // Special case
    if (stateName == 'all') {
        subSections.show();
        return false;
    }

    // Set the hash on the sort links
    $('#sortbar a').each(function () {
        $(this).attr('href', $(this).attr('href').replace('#/sections', '').replace('#/titles', '') + '#/' + stateName);
    });

    // If no default sub-section found then head on to the default otherwise show selected sub-section
    if (!subSection.length) {
        $('#titles').show();
    } else {
        subSection.show();
    }
}
//]]>
    </script>
}
