@model MOBOT.BHL.AdminWeb.Models.ServiceLogModel
@section Javascript
{
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["jQueryDataTablesPath"])" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#recordlist').dataTable({
                "processing": true
                ,"serverSide": true
                ,"filter": false
                ,"lengthChange": false
                ,"displayLength": 50
                ,"dom": '<"H"lfr>t<"F"ip>'
                ,"paginationType": "full_numbers"
				,"ajaxSource": '/Monitor/GetServiceLogRecords?serviceID=@Model.ServiceID&severityID=@Model.SeverityID&startDate=@Model.StartDate&endDate=@Model.EndDate'
                , "columns": [
					{ "data": "fullName", "sortable": true, "class": "servlogCell" }
					, { "data": "frequencyLabel", "sortable": true, "class": "servlogCell" }
					, { "data": "logDate", "sortable": true, "class": "servlogCell" }
					, { "data": "message", "sortable": true, "class": "servlogMessageCell" }
                    , { "data": "severity", "sortable": true, "class": "servlogCell" }
                ]
                , "sorting": [[2, 'desc']]
            });
        });
    </script>
}
@section CSS
{
    <link href="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["jQueryDataTablesCSSPath"])" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Service Log";
}

<p>
    <a href="/">< Return to Dashboard</a><br />
    <a href="/monitor">< Return to Server Monitor</a>
</p>
<span class="pageHeader">@ViewBag.Title</span><span style="float:right"><a href="~/Monitor/ServiceOverview">View Service Overview</a></span>
<hr />
<br />

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <div style="margin-bottom:10px">
        <div class="col-md-3">
            <div style="height:25px">Service: @Html.DropDownListFor(m => m.ServiceID, new SelectList(ViewBag.ServiceList, "ServiceID", "FullName"), "-- All --")</div>
            <div style="height:25px">Import Status: @Html.DropDownListFor(m => m.SeverityID, new SelectList(ViewBag.SeverityList, "SeverityID", "Label"), "-- All --")</div>
        </div>
        <div class="col-md-9">
            <div style="height:25px">Start Date: @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { type = "date" } })</div>
            <div style="height:25px">End Date: @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { type = "date" } }) </div>
        </div>
        <div class="col-md-12">
            <div style="margin:5px 0px">
                <input type="submit" name="btnShow" id="btnShow" value="Update" />&nbsp;
                <input type="submit" name="btnDownload" id="btnDownload" value="Download" />
            </div>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="recordlist" style="width:100%">
        <thead>
            <tr>
                <th width="12%">Service</th>
                <th width="12%">Frequency</th>
                <th width="12%">Log Date</th>
                <th width="52%">Message</th>
                <th width="12%">Severity</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}
