@model MOBOT.BHL.AdminWeb.Models.WebStatsModel

@{
    ViewBag.Title = "Overall Web Statistics";
}

<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
<p>
    <a href="/">< Return to Dashboard</a><br />
    <a href="/monitor">< Return to Server Monitor</a>
</p>
<span class="pageHeader">@ViewBag.Title</span>
<hr />
<br />

<div class="col-md-12">
    <div class="row statDetails">
        <!--<div>All Requests</div>-->
        <div id="overall_chart" class="col-md-12" style="width: 100%; height: 300px; border-style:solid; border-width:1px;border-color:black"></div>
    </div>
    <div class="row statDetails">
        <!--<div>Requests By Status</div>-->
        <div id="status_chart" class="col-md-12" style="width: 100%; height: 600px; border-style:solid; border-width:1px;border-color:black"></div>
    </div>
    <div class="row statDetails">
        <!--<div>Requests By URL Stem</div>-->
        <div id="stem_chart" class="col-md-12" style="width: 100%; height: 600px; border-style:solid; border-width:1px;border-color:black"></div>
    </div>
</div>

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'bar', 'annotatedtimeline'] });
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        drawChart('All Requests', 'overall_chart',
            [
                @foreach (var traffic in Model.overallTraffic)
                {
                @:[new Date( @traffic.Year, @(traffic.Month - 1), @traffic.Day), @traffic.Requests],
                }
            ]
        );
        drawMultilineChart('Requests By Status', 'status_chart',
            [
                @foreach(var s in Model.statusList)
                {
                @:"@s.Key.Trim()",
                }
            ],
            [
                @foreach(var traffic in Model.statusTraffic)
                {
                    @:[new Date(@traffic.Key.Year, @(traffic.Key.Month - 1), @traffic.Key.Day),
                    foreach(var status in traffic.Value)
                    {
                    @status.Value@:,
                    }
                    @:],
                }
            ]
        );
        drawMultilineChart('Requests By URL Stem', 'stem_chart',
            [
                @foreach(var s in Model.stemList)
                {
                @:"@s.Key.Trim()",
                }
            ],
            [
                @foreach(var traffic in Model.stemTraffic)
                {
                    @:[new Date(@traffic.Key.Year, @(traffic.Key.Month - 1), @traffic.Key.Day),
                    foreach(var status in traffic.Value)
                    {
                    @status.Value@:,
                    }
                    @:],
                }
            ]
        );
    }

    function drawChart(graphTitle, targetDiv, dataRows) {
        var data = new google.visualization.DataTable();
        data.addColumn("datetime", "Date");
        data.addColumn("number", "Requests");
        data.addRows(dataRows);

        var options = {
            title: graphTitle,
            hAxis: {
                title: 'Date',
                format: 'yyyy/MM/dd'
            },
            vAxis: { title: 'Requests' },
            legend: { position: 'none' },
            displayAnnotations: false,
        };

        //var chart = new google.visualization.AnnotatedTimeLine(document.getElementById(targetDiv));
        var chart = new google.visualization.LineChart(document.getElementById(targetDiv));
        //var chart = new google.visualization.ColumnChart(document.getElementById(targetDiv));
        chart.draw(data, options);
    }

    function drawMultilineChart(graphTitle, targetDiv, columns, dataRows) {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        for (let i = 0; i < columns.length; i++) {
            data.addColumn('number', columns[i]);
        }
        data.addRows(dataRows);

        var options = {
            title: graphTitle,
            hAxis: {
                title: 'Date',
                format: 'yyyy/MM/dd'
            },
            vAxis: { title: 'Requests' },
            //legend: { position: 'none' },
            displayAnnotations: false,
        };

        //var chart = new google.visualization.AnnotatedTimeLine(document.getElementById(targetDiv));
        var chart = new google.visualization.LineChart(document.getElementById(targetDiv));
        chart.draw(data, options);
    }
</script>
