@model IEnumerable<MOBOT.BHL.AdminWeb.Models.EditDoiQueueViewModel>

    @{
        ViewBag.Title = "DOI Queue";
    }
    <a href="/">&lt; Return to Dashboard</a><br />
    <br />
    <div>
        <div class="pageHeader" style="float:left">Manage DOI Queue</div>
    </div>
    <hr style="clear:left" /><br />

    @using (@Html.BeginForm())
    {
                  <h5><p>Titles and Segments in the DOI queue will be processed within 24 hours.</p><p>If a DOI exists for a Title or Segment, it will be updated.  Otherwise, a new DOI will be assigned.</p></h5>

        @Html.Hidden("SortBy", (string)ViewBag.SortBy)
        <div style="padding-top:10px; padding-bottom:5px;">
            @Html.ActionLink("Add to Queue", "QueueAddInfo")
        </div>
    }

    <table class="table-condensed table-bordered">
        <tr>
            <th></th>
            <th>
                @Html.ActionLink("Type", "Queue", new { sort = ViewBag.ETypeSort })
            </th>
            <th>
                @Html.ActionLink("ID", "Queue", new { sort = ViewBag.EIDSort })
            </th>
            <th>
                @Html.ActionLink("Action", "Queue", new {sort = ViewBag.ActionSort})
            </th>
            <th>
                @Html.ActionLink("Queued By", "Queue", new { sort = ViewBag.AddedBySort })
            </th>
            <th>
                @Html.ActionLink("Queued Date/Time", "Queue", new { sort = ViewBag.DateQueuedSort })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Delete", "QueueDelete", new { type = item.EntityType, id = item.EntityID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateQueued)
                </td>
            </tr>
        }
    </table>
