@model MOBOT.BHL.AdminWeb.Models.CitationImportModel
@section Javascript
{
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["jQueryDataTablesPath"])" type="text/javascript"></script>
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["jQueryJEditablePath"])" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        function formatDetails ( d ) {
            if (typeof d !== 'undefined') {
                if (d.importSegmentID)
                    formatter = new formatUpdateDetail(d);
                else
                    formatter = new formatAddDetail(d);
                return formatter.getDetail();
            }
            else return "";
        }

        function formatAddDetail(data) { this.d = data; }

        formatAddDetail.prototype.getDetail = function() {
            var segDetails = "";
            if (this.d.errors !== "") segDetails += this.formatDetailError("ERRORS", this.d.errors, 'ErrorText');
            if (this.d.warnings !== "") segDetails += this.formatDetailError("WARNINGS", this.d.warnings, 'WarningText');
            segDetails += this.formatHeader("", "New Values");
            if (this.d.segmentID !== "") segDetails += this.formatDetail("Segment ID", this.d.segmentID);
            if (this.d.ncItemID !== "") segDetails += this.formatDetail("Item ID", this.d.ncItemID);
            if (this.d.nsGenre !== "") segDetails += this.formatDetail("Genre", this.d.nsGenre);
            if (this.d.nsTitle !== "") segDetails += this.formatDetail("Title", this.d.nsTitle);
            if (this.d.nsTranslatedTitle !== "") segDetails += this.formatDetail("Translated Title", this.d.nsTranslatedTitle);
            if (this.d.nsContainerTitle !== "") segDetails += this.formatDetail("Journal Title", this.d.nsContainerTitle);
            if (this.d.nsAuthors !== "") segDetails += this.formatDetailAuthor("Authors", this.d.nsAuthors, this.d.status === "Imported");
            if (this.d.nsVolume !== "") segDetails += this.formatDetail("Volume", this.d.nsVolume);
            if (this.d.nsSeries !== "") segDetails += this.formatDetail("Series", this.d.nsSeries);
            if (this.d.nsIssue !== "") segDetails += this.formatDetail("Issue", this.d.nsIssue);
            if (this.d.nsEdition !== "") segDetails += this.formatDetail("Edition", this.d.nsEdition);
            if (this.d.nsPublicationName === "" && this.d.nsPublicationPlace === "") segDetails += this.formatDetail("Publication Details", this.d.nsPublicationDetails);
            if (this.d.nsPublisherName !== "") segDetails += this.formatDetail("Publisher Name", this.d.nsPublisherName);
            if (this.d.nsPublisherPlace !== "") segDetails += this.formatDetail("Publication Place", this.d.nsPublisherPlace);
            if (this.d.nsYear !== "") segDetails += this.formatDetail("Year", this.d.nsYear);
            if (this.d.nsPageRange !== "") segDetails += this.formatDetail("PageRange", this.d.nsPageRange);
            if (this.d.nsStartPage !== "") segDetails += this.formatDetail("Start Page Number", this.d.nsStartPage);
            if (this.d.nsEndPage !== "") segDetails += this.formatDetail("End Page Number", this.d.nsEndPage);
            if (this.d.nsLanguage !== "") segDetails += this.formatDetail("Language", this.d.nsLanguage);
            if (this.d.nsDoi !== "") segDetails += this.formatDetail("Article DOI", this.d.nsDoi);
            if (this.d.nsIssn !== "") segDetails += this.formatDetail("ISSN", this.d.nsIssn);
            if (this.d.nsIsbn !== "") segDetails += this.formatDetail("ISBN", this.d.nsIsbn);
            if (this.d.nsOclc !== "") segDetails += this.formatDetail("OCLC", this.d.nsOclc);
            if (this.d.nsLccn !== "") segDetails += this.formatDetail("LCCN", this.d.nsLccn);
            if (this.d.nsArk !== "") segDetails += this.formatDetail("ARK", this.d.nsArk);
            if (this.d.nsBiostor !== "") segDetails += this.formatDetail("Biostor ID", this.d.nsBiostor);
            if (this.d.nsJstor !== "") segDetails += this.formatDetail("JSTOR", this.d.nsJstor);
            if (this.d.nsTl2 !== "") segDetails += this.formatDetail("TL2", this.d.nsTl2);
            if (this.d.nsWikidata !== "") segDetails += this.formatDetail("Wikidata ID", this.d.nsWikidata);
            if (this.d.nsSummary != "") segDetails += this.formatDetail("Abstract", this.d.nsSummary);
            if (this.d.nsNotes !== "") segDetails += this.formatDetail("Notes", this.d.nsNotes);
            if (this.d.nsRights !== "") segDetails += this.formatDetail("Rights", this.d.nsRights);
            if (this.d.nsCopyrightStatus !== "") segDetails += this.formatDetail("Copyright", this.d.nsCopyrightStatus);
            if (this.d.nsLicense !== "") segDetails += this.formatDetail("License", this.d.nsLicense);
            if (this.d.nsLicenseUrl !== "") segDetails += this.formatDetail("License Url", this.d.nsLicenseUrl);
            if (this.d.nsUrl !== "") segDetails += this.formatDetail("Url", this.d.nsUrl);
            if (this.d.nsDownloadUrl !== "") segDetails += this.formatDetail("Download Url", this.d.nsDownloadUrl);
            if (this.d.nsContributors !== "") segDetails += this.formatDetailSimpleList("Contributors", this.d.nsContributors);
            if (this.d.nsKeywords !== "") segDetails += this.formatDetailSimpleList("Keywords", this.d.nsKeywords);
            if (this.d.nsPages !== "") segDetails += this.formatDetailSimpleList("Pages", this.d.nsPages);
            return "<div class='container'>" + segDetails + "</div>";
        }

        formatAddDetail.prototype.formatHeader = function (label, value) {
            return this.formatDetailRow(label, value, "ImportSegReviewSubHead");
        }

        formatAddDetail.prototype.formatDetail = function (label, value)
        {
            return this.formatDetailRow(label, value);
        }

        formatAddDetail.prototype.formatDetailAuthor = function(label, value, isImported)
        {
            var detail = "";
            if (value !== "") {
                var values = value.split("+++");
                values.forEach(function(val) {
                    var valDetail = val.split("|");
                    detail += valDetail[1].trim();
                    detail += " <span id='selectedAuthorViewDiv" + valDetail[0].trim() + "' style='display:" + ((valDetail[2].trim() === "") ? "none" : "inline") + "'>(<a id='selectedAuthorViewLink" + valDetail[0].trim() + "' target='_blank' href='/AuthorEdit.aspx?id=" + valDetail[2].trim() + "'>BHL ID <span id='selectedAuthorViewSpan" + valDetail[0].trim() + "'>" + valDetail[2].trim() + "</span></a> - <span id='selectedAuthorNameViewSpan" + valDetail[0].trim() + "'>" + valDetail[3].trim() + "</span>)</span>";
                    // Only add this link for non-Imported rows
                    if (!isImported) detail += " <a href='' id='selectedAuthorEditLink" + valDetail[0].trim() + "' data-toggle='modal' data-target='#authorSearchModal' data-authorrecordid='" + valDetail[0].trim() + "' data-selectedid='" + valDetail[2].trim() + "' data-selectedname='" + ((valDetail[2].trim()) === "" ? "None" : valDetail[3].trim()) + "' data-authorname='" + valDetail[1].replace("'", "\'").trim() + "'>Link</a>";
                    detail += "<br/>";
                });
            }
            else
            {
                detail += "<br/>";
            }
            return this.formatDetailRow(label, detail);
        }

        formatAddDetail.prototype.formatDetailSimpleList = function(label, value)
        {
            var detail = "";
            var values = value.split("+++");
            values.forEach(function(val) { detail += val + "<br/>"; });
            return this.formatDetailRow(label, detail);
        }

        formatAddDetail.prototype.formatDetailError = function(label, value, style)
        {
            var detail = "";
            var values = value.split("+++");
            values.forEach(function(val) { detail += val + "<br/>"; });
            return this.formatDetailRow(label, detail, style) + "<div class='row'><div class='col-sm-11'>&nbsp;</div></div>";
        }

        formatAddDetail.prototype.formatDetailRow = function(label, value, style)
        {
            style = (typeof style !== 'undefined') ?  style + ' ' : '';
            return "<div class='row'><div class='" + style + "col-sm-2'>" + label +
                "</div><div class='" + style + "col-sm-9'>" + value + "</div></div>";
        }


        function formatUpdateDetail(data) { this.d = data; }

        formatUpdateDetail.prototype.getDetail = function () {
            var segDetails = "";
            if (this.d.errors !== "") segDetails += this.formatDetailError("ERRORS", this.d.errors, 'ErrorText');
            if (this.d.warnings !== "") segDetails += this.formatDetailError("WARNINGS", this.d.warnings, 'WarningText');
            if (this.d.status === "Imported")
                segDetails += this.formatHeader("", "Imported Values", "", "");
            else
                segDetails += this.formatHeader("", "New Values", "Action", "Existing Values");
            segDetails += this.formatDetail("Item ID", this.d.ncItemID, this.d.ecItemID);

            segDetails += this.formatDetail("Genre", this.d.nsGenre, this.d.esGenre);
            segDetails += this.formatDetail("Title", this.d.nsTitle, this.d.esTitle);
            segDetails += this.formatDetail("Translated Title", this.d.nsTranslatedTitle, this.d.esTranslatedTitle);
            segDetails += this.formatDetail("Journal Title", this.d.nsContainerTitle, this.d.esContainerTitle);
            segDetails += this.formatDetailAuthor("Authors", this.d.nsAuthors, this.d.esAuthors);
            segDetails += this.formatDetail("Volume", this.d.nsVolume, this.d.esVolume);
            segDetails += this.formatDetail("Series", this.d.nsSeries, this.d.esSeries);
            segDetails += this.formatDetail("Issue", this.d.nsIssue, this.d.esIssue);
            segDetails += this.formatDetail("Edition", this.d.nsEdition, this.d.esEdition);
            segDetails += this.formatDetail("Publication Details", this.d.nsPublicationDetails, this.d.esPublicationDetails);
            segDetails += this.formatDetail("Publisher Name", this.d.nsPublisherName, this.d.esPublisherName);
            segDetails += this.formatDetail("Publication Place", this.d.nsPublisherPlace, this.d.esPublisherPlace);
            segDetails += this.formatDetail("Year", this.d.nsYear, this.d.esYear);
            segDetails += this.formatDetail("PageRange", this.d.nsPageRange, this.d.esPageRange);
            segDetails += this.formatDetail("Start Page Number", this.d.nsStartPage, this.d.esStartPage);
            segDetails += this.formatDetail("End Page Number", this.d.nsEndPage, this.d.esEndPage);
            segDetails += this.formatDetail("Language", this.d.nsLanguage, this.d.esLanguage);
            segDetails += this.formatDetail("Article DOI", this.d.nsDoi, this.d.esDoi);
            segDetails += this.formatDetail("ISSN", this.d.nsIssn, this.d.esIssn);
            segDetails += this.formatDetail("ISBN", this.d.nsIsbn, this.d.esIsbn);
            segDetails += this.formatDetail("OCLC", this.d.nsOclc, this.d.esOclc);
            segDetails += this.formatDetail("LCCN", this.d.nsLccn, this.d.esLccn);
            segDetails += this.formatDetail("Ark", this.d.nsArk, this.d.esArk);
            segDetails += this.formatDetail("Biostor ID", this.d.nsBiostor, this.d.esBiostor);
            segDetails += this.formatDetail("JSTOR", this.d.nsJstor, this.d.esJstor);
            segDetails += this.formatDetail("TL2", this.d.nsTl2, this.d.esTl2);
            segDetails += this.formatDetail("Wikidata ID", this.d.nsWikidata, this.d.esWikidata);
            segDetails += this.formatDetail("Abstract", this.d.nsSummary, this.d.esSummary);
            segDetails += this.formatDetail("Notes", this.d.nsNotes, this.d.esNotes);
            segDetails += this.formatDetail("Rights", this.d.nsRights, this.d.esRights);
            segDetails += this.formatDetail("Copyright", this.d.nsCopyrightStatus, this.d.esCopyrightStatus);
            segDetails += this.formatDetail("License", this.d.nsLicense, this.d.esLicense);
            segDetails += this.formatDetail("License Url", this.d.nsLicenseUrl, this.d.esLicenseUrl);
            segDetails += this.formatDetail("Url", this.d.nsUrl, this.d.esUrl);
            segDetails += this.formatDetail("Download Url", this.d.nsDownloadUrl, this.d.esDownloadUrl);
            segDetails += this.formatDetailSimpleList("Contributors", this.d.nsContributors, this.d.esContributors);
            segDetails += this.formatDetailSimpleList("Keywords", this.d.nsKeywords, this.d.esKeywords);
            segDetails += this.formatDetailSimpleList("Pages", this.d.nsPages, this.d.esPages);
            return "<div class='container'>" + segDetails + "</div>";
        }

        formatUpdateDetail.prototype.formatHeader = function (label, value1, action, value2) {
            return this.formatDetailRow(label, value1, action, value2, "ImportSegReviewSubHead");
        }

        formatUpdateDetail.prototype.formatDetail = function (label, value1, value2) {
            if (this.d.status === "Imported") {
                return (value1 ? this.formatDetailRow(label, value1) : "");
            }
            else if (value1 && (!value2 || value1 != value2)) {
                var action = (value1.toUpperCase() === "NULL") ? "REMOVE" : "REPLACE";
                return this.formatDetailRow(label, value1, action, value2);
            }
            else {
                return "";
            }
        }

        formatUpdateDetail.prototype.formatDetailAuthor = function (label, value1, value2) {

            var detail1 = "";
            if (value1 !== "") {
                var values = value1.split("+++");
                values.forEach(function (val) {
                    var valDetail = val.split("|");
                    detail1 += valDetail[1].trim();
                    detail1 += " <span id='selectedAuthorViewDiv" + valDetail[0].trim() + "' style='display:" + ((valDetail[2].trim() === "") ? "none" : "inline") + "'>(<a id='selectedAuthorViewLink" + valDetail[0].trim() + "' target='_blank' href='/AuthorEdit.aspx?id=" + valDetail[2].trim() + "'>BHL ID <span id='selectedAuthorViewSpan" + valDetail[0].trim() + "'>" + valDetail[2].trim() + "</span></a> - <span id='selectedAuthorNameViewSpan" + valDetail[0].trim() + "'>" + valDetail[3].trim() + "</span>)</span>";
                    detail1 += "<br/>";
                });
            }
            else {
                detail1 += "<br/>";
            }

            // Trim the "extra" info from value1 so that a direct comparison between value1 and value2 can be made
            var value1simple = [];
            value1.split("+++").forEach(function (val) { value1simple.push(val.split("|").slice(2, 4).join("|")); });

            if (this.d.status === "Imported") {
                return (value1 ? this.formatDetailRow(label, detail1) : "");
            }
            else if (value1 && (!value2 || value1simple.join(" +++ ") != value2)) {
                var action = (value1.toUpperCase() === "NULL") ? "REMOVE" : "REPLACE";

                var detail2 = "";
                if (value2 !== "") {
                    var values = value2.split("+++");
                    values.forEach(function (val) {
                        var valDetail = val.split("|");
                        detail2 += "BHL ID " + valDetail[0].trim() + " - " + valDetail[1].trim();
                        detail2 += "<br/>";
                    });
                }
                else {
                    detail2 += "<br/>";
                }

                return this.formatDetailRow(label, detail1, action, detail2);
            }
            else {
                return "";
            }
        }

        formatUpdateDetail.prototype.formatDetailSimpleList = function (label, value1, value2) {

            if (value1 !== "") {
                var detail1 = "";
                var values = value1.split("+++");
                values.forEach(function (val) { detail1 += val + "<br/>"; });
            }
            value2 = value2.replaceAll("|", " +++ ");

            if (this.d.status === "Imported") {
                return (value1 ? this.formatDetailRow(label, detail1) : "");
            }
            else if (value1 && (!value2 || value1 != value2)) {
                action = (value1.toUpperCase() === "NULL") ? "REMOVE" : "REPLACE";

                var detail2 = "";
                var values = value2.split("+++");
                values.forEach(function (val) { detail2 += val + "<br/>"; });

                return this.formatDetailRow(label, detail1, action, detail2);
            }
            else {
                return "";
            }
        }

        formatUpdateDetail.prototype.formatDetailError = function (label, value, style) {
            style = (typeof style !== 'undefined') ? style + ' ' : '';
            var detail = "<div class='row'><div class='" + style + "col-sm-2'>" + label + "</div><div class='" + style + "col-sm-9'>";
            var values = value.split("+++");
            values.forEach(function (val) { detail += val + "<br/>"; });
            return detail + "</div></div><div class='row'><div class='col-sm-11'>&nbsp;</div></div>";
        }

        formatUpdateDetail.prototype.formatDetailRow = function (label, value1, action, value2, style) {
            style = (typeof style !== 'undefined') ? style + ' ' : '';
            value1 = (value1.toUpperCase().startsWith("NULL")) ? "" : value1;
            return "<div class='row'><div class='" + style + "col-sm-2'>" + label +
                "</div><div class='" + style + "col-sm-4'>" + (value1 ? value1 : "&nbsp;") +
                "</div><div class='" + style + "col-sm-2'>" + (action ? action : "&nbsp;") +
                "</div><div class='" + style + "col-sm-4'>" + (value2 ? value2 : "&nbsp;") + "</div></div>";
        }

		$(document).ready(function() {

			var oTable = $('#recordlist').DataTable( {
				"processing": true
				,"serverSide": true
				,"filter": false
				,"lengthChange": false
				,"displayLength": 50
                ,"scrollY": 500
                ,"scrollX": true
				,"paginationType": "full_numbers"
				,"ajaxSource": '/CitationImport/GetRecords?importFileID=@Model.ImportFileID'
				,"columns": [
					{ "data": "id", "visible": false } /* ID column */
                    , { "data": null, "sortable": false, "defaultContent": "", "class": "import-detail", "defaultcontent": "" }
                    , { "data": "actRow", "sortable": false }
                    , { "data": "segmentID", "sortable": false }
					, { "data": "sumTitle", "sortable": true }
					, { "data": "sumJournal", "sortable": true }
					, { "data": "sumYear", "sortable": false }
					, { "data": "sumVolume", "sortable": false }
					, { "data": "sumIssue", "sortable": false }
					, { "data": "sumStartPageID", "sortable": false
                      ,"mRender" : function (id, type, full) {
                            if (id != '')
                                return "<a href='#' title='Show First Page Image' onclick='window.open(\"@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]/pagethumb/" + id + ",500,800\", \"Page " + id + "\", \"resizeable=0,scrollbars=1,height=800,width=500,status=0,toolbar=0,menubar=0,location=0\");'><img src='/images/textpage.png' /></a>";
                            else
                                return "";
                        }
                    }
					, { "data": "sumStartPage", "sortable": false }
					, { "data": "sumEndPage", "sortable": false }
					, { "data": "status", "sortable": true, "sClass": "editCol" }
				]
				,"drawCallback": function() { $("td.editCol").filter(":not(:contains('Imported'))").editable('/CitationImport/UpdateRecordStatus', {
					"callback": function (sValue, settings) {
                        oTable.row(this.parentNode).data().status = sValue;
					},
					"submitdata": function (value, settings) {
						return {
						    "importRecordID": oTable.row(this.parentNode).data().id,
                            "originalValue": this.revert
						};
					},
					"height": "12px",
					"width": "100%",
					"data" : $(".importRecordStatus").html(),
					"type" : "select"
					} );
				}
			} );

            var detailRows = [];

            $('#recordlist tbody').on( 'click', 'tr td.import-detail', function () {
                var tr = $(this).closest('tr');
                var row = oTable.row( tr );
                var idx = $.inArray( tr.attr('id'), detailRows );
 
                if ( row.child.isShown() ) {
                    tr.removeClass( 'import-detail-row' );
                    row.child.hide();
 
                    // Remove from the 'open' array
                    detailRows.splice( idx, 1 );
                }
                else {
                    tr.addClass( 'import-detail-row' );
                    //if (row.child()) { row.child.show(); } else { row.child(formatDetails(row.data())).show(); if (row.child()) row.child().attr('style', 'background-color:#f1f1f1'); }
                    if (row.child()) { row.child.show(); } else { setRowDetails(row); }

                    // Add to the 'open' array
                    if ( idx === -1 ) {
                        detailRows.push( tr.attr('id') );
                    }
                }
            } );

            var expanded = false;

            $('thead').on( 'click', 'tr th.import-detail', function () {
                expanded = !expanded;
                $('#recordlist > tbody > tr').each(function(i) {
                    var tr = $(this).closest('tr');
                    var row = oTable.row( tr );
                    var idx = $.inArray( tr.attr('id'), detailRows );

                    if ( row.child.isShown() && !expanded) {
                        tr.removeClass( 'import-detail-row' );
                        row.child.hide();
 
                        // Remove from the 'open' array
                        detailRows.splice( idx, 1 );
                    }
                    else if (!row.child.isShown() && expanded) {
                        tr.addClass('import-detail-row');
                        //if (row.child()) { row.child.show(); } else { row.child(formatDetails(row.data())).show(); if (row.child()) row.child().attr('style', 'background-color:#f1f1f1'); }
                        if (row.child()) { row.child.show(); } else { setRowDetails(row); }
 
                        // Add to the 'open' array
                        if ( idx === -1 ) {
                            detailRows.push( tr.attr('id') );
                        }
                    }
                });
            } );

            function setRowDetails(row) {
                if (row.data()) {
                    $.getJSON("/CitationImport/GetRecord?importRecordID=" + row.data().id,
                        function (data) {
                            row.child(formatDetails(data.aaData[0])).show();
                            if (row.child()) row.child().attr('style', 'background-color:#f1f1f1');
                        }
                    );
                }
            }

            // On each draw, loop over the 'detailRows' array and show any child rows
            oTable.on( 'draw', function () {
                $.each( detailRows, function ( i, id ) {
                    $('#'+id+' td.import-detail').trigger( 'click' );
                } );
            } );

            // Save newly selected linked author information
            $(document).on('click', '.modal-footer .btn-primary', function(e) {
                var modal = $('#authorSearchModal');
                var authorRecordId = modal.find('.modal-header #authorRecordID').val().trim();
                var selectedId = modal.find('.modal-body #selectedAuthorID').text().trim();
                var selectedName = modal.find('.modal-body #selectedAuthorName').text().trim();

                $.ajax('/CitationImport/UpdateRecordCreatorID?importRecordCreatorID=' + authorRecordId + '&value=' + selectedId)
                    .done(function() {
                        var link = $('#selectedAuthorViewLink' + authorRecordId);
                        var span = $('#selectedAuthorViewSpan' + authorRecordId);
                        var name = $('#selectedAuthorNameViewSpan' + authorRecordId);
                        var edit = $('#selectedAuthorEditLink' + authorRecordId);
                        var div = $('#selectedAuthorViewDiv' + authorRecordId);
                        link.attr('href', '/AuthorEdit.aspx?id=' + selectedId);
                        span.text(selectedId);
                        name.text(selectedName);
                        edit.data('selectedid', selectedId);
                        edit.data('selectedname', selectedName);

                        if (selectedId === "") div.hide(); else div.show();
                    })
                    .fail(function() {
                        alert('Error updating the ID for this author!  Please try again.');
                    });
            });
		} );

        $(document).on('show.bs.modal', '#authorSearchModal', function(event) {
            var button = $(event.relatedTarget); // Link that triggered the modal
            // Extract info from data-* attributes
            var authorRecordId = button.data('authorrecordid');
            var authorName = button.data('authorname');
            var selectedId = button.data('selectedid');
            var selectedName = button.data('selectedname');

            var modal = $(this);
            modal.find('.modal-header h4').text('Link Author ID for "' + authorName + '"');
            modal.find('.modal-header #authorRecordID').val(authorRecordId);
            modal.find('.modal-body input').val(authorName);
            modal.find('.modal-body #selectedAuthorID').text(selectedId);
            modal.find('.modal-body #selectedAuthorName').text(selectedName);

            $('#srchAuthorResult').hide();
        });

        $(document).on('keypress', '.modal-body #author-name', function(e) {
            // Author search on Enter keypress
            if(e.which == 13) {
                e.preventDefault();
                $('#authorSearchButton').click();
            }
        });

        $(document).on('click', '#clearAuthorSelection', function(event) {
            var modal = $('#authorSearchModal');
            modal.find('.modal-body #selectedAuthorID').text('');
            modal.find('.modal-body #selectedAuthorName').text('None');
        });

        $(document).on('click', '#authorSearchButton', function(event) {
            var modal = $('#authorSearchModal');
            var authorName = modal.find('.modal-body input').val();

            if (authorName === "") {
                alert("Please specify an Author Name.");
                return;
            }

            $.getJSON("/services/authorservice.ashx", "op=AuthorSearch&authorID=&authorName=" + authorName,  function(data) {
                var authors = eval(data);

                // Clear rows already in table
                var tbody = $("#srchAuthorResultTable tbody");
                var rows = $("#srchAuthorResultTable tr");
                for (var j = (rows.length - 1); j >= 1; j--) rows[j].parentNode.removeChild(rows[j]);

                // Build the table of authors
                for (var i = 0; i < authors.length; i++) {
                    var authorFullName = authors[i].FullName + ' ' + authors[i].Numeration + ' ' + authors[i].Unit + ' ' + authors[i].Title + ' ' + authors[i].Location + ' ' + authors[i].FullerForm + ' ' + authors[i].Dates;

                    var tbody = $("#srchAuthorResultTable tbody");
                    var td1 = $("<td/>").append(authors[i].AuthorID);
                    var a = $("<a/>")
                        .attr("href", "#").attr("onClick", "selectAuthor('" + authors[i].AuthorID + "','" + authorFullName.replace("'", "\\\'") + "')")
                            .append(authorFullName);
                    var td2 = $("<td/>").append(a);
                    var row = $("<tr/>").attr("align", "left").append(td1).append(td2);
                    tbody.append(row);
                }

                $('#srchAuthorResult').show();
            });
        });

        function selectAuthor(id, name)
        {
            var modal = $('#authorSearchModal');
            modal.find('.modal-body #selectedAuthorID').text(id);
            modal.find('.modal-body #selectedAuthorName').text(name);
        }
    </script>
}
@section CSS
{
    <link href="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["jQueryDataTablesCSSPath"])" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Import Segments - Review";
}

<div class="modal" id="authorSearchModal" tabindex="-1" role="dialog" aria-labelledby="authorSearchLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="authorSearchLabel">Link Author ID</h4>
                <input type="hidden" id="authorRecordID" />
            </div>
            <div class="modal-body">
                <div class="panel">
                    <label class="control-label">Selected:</label>&nbsp;<button id="clearAuthorSelection" class="btn btn-xs btn-primary">Clear Selection</button>
                    <div><span id="selectedAuthorID"></span>&nbsp;<span id="selectedAuthorName">None</span></div>
                </div>
                <form class="panel">
                    <div class="form-inline">
                        <label for="author-name" class="control-label">Search For:</label>
                        <input type="text" class="form-control" id="author-name">
                        <button type="button" class="btn btn-primary" id="authorSearchButton">Search</button>
                    </div>
                </form>
                <div id="srchAuthorResult" style="display:none;">
                    <label class="control-label">Click an author record to select it.</label>
                    <div class="table-bordered" style="overflow-y:scroll; height:150px;">
                        <table id="srchAuthorResultTable" cellpadding="3" cellspacing="3" width="100%">
                            <tbody>
                                <tr class="SearchResultsHeader" align="left">
                                    <th scope="col">Author&nbsp;ID</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div>

<p>
    <a href="/">< Return to Dashboard</a><br />
    <a href="/report/citationimporthistory">< View Segment Import History</a>
    <span style="float:right">
        <a href="#" title="How to Use This Page" onclick="window.open('/ImportCitationReviewHelp.html', 'About', 'resizeable=0,scrollbars=1,height=530,width=500,status=0,toolbar=0,menubar=0,location=0');">How To Use This Page</a>
    </span>
</p>
<span class="pageHeader">@ViewBag.Title</span>
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post))
{

    @Html.HiddenFor(m => m.ImportFileID)

    <div class="importRecordStatus" style="display:none">@Html.Raw(ViewBag.ImportRecordStatuses)</div>

    <div>
        <div style="margin:10px 0px">
            <div style="display:inline">Data Source: @Html.DisplayFor(m => m.FileNameClean)</div>
            <div style="float:right"><a href="/services/citationimportservice.ashx?fid=@Model.ImportFileID"><strong>Download import details</strong></a></div>
        </div>
        @if (Model.IsOldFile)
        {
            <div style="margin:10px 0px 10px 0px; color:red; text-align:center">
                This batch is older than 7 days.  You may want to perform a new review to identify data ingested since @Model.FileCreationDate .
            </div>
        }
        <div style="margin:0px 0px; float:left;">
            <div>Type: @Html.DisplayFor(m => m.GenreName)</div>
            <div style="margin:10px 0px">Created: @Html.DisplayFor(m => m.FileCreationDate)</div>
        </div>
    </div>

    <div style="margin-bottom:10px;float:right;">
        <div style="display:inline">
            <input type="submit" name="btnImport" id="btnImport" value="Import Records" />
            <input type="submit" name="btnReject" id="btnReject" value="Reject Records" />
        </div>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="recordlist" style="width:100%">
	    <thead>
            <tr>
                <th></th>
                <th class="import-detail"></th>
                <th width="7%">Action</th>
                <th width="9%">Segment ID</th>
                <th width="25%">Title</th>
                <th width="17%">Journal</th>
                <th width="4%">Year</th>
                <th width="4%">Vol</th>
                <th width="4%">Issue</th>
                <th width="2%"></th>
                <th width="4%">Start Page</th>
                <th width="4%">End Page</th>
                <th width="10%">Status</th>
            </tr>
	    </thead>
	    <tbody>
					
	    </tbody>
    </table>

}

<span id="Loading" style="display:none"><img src="~/images/loading.gif" /> Processing data... please wait</span>
    
<script type="text/javascript">
    $(document).ready(function () {

        $("form").submit(function () {
            $("form").hide();
            $("#Loading").show();
        });

    });

</script>

