<div id="FeatureBox2_panCollection" style="display:@ViewBag.CollectionDisplay">
    <div class="featurebox" id="">
        <h3>Featured Content</h3>
        <h4>@ViewBag.CollectionName</h4>
        <span class="content">
            <a href="@ViewBag.CollectionUrlRoot/collection/@ViewBag.CollectionUrl" id="FeatureBox2_lnkFeaturedCollectionImage" title="@ViewBag.CollectionName">
                <img src="@ViewBag.CollectionImageUrl" id="FeatureBox2_imgFeaturedCollection" alt="@ViewBag.CollectionName" />
            </a>
        </span>
        <a href="@ViewBag.CollectionUrlRoot/collection/@ViewBag.CollectionUrl" id="FeatureBox2_lnkCollectionButton" class="featurebutton-home" title="@ViewBag.CollectionName">Explore</a>
    </div>
</div>

