<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="The Biodiversity Heritage Library works collaboratively to make biodiversity literature openly available to the world as part of a global biodiversity community." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>@ViewBag.Title</title>
    @RenderSection("CSS", required: false)
    <link rel="stylesheet" href="/css/bhlaustylereference.css?v=8" />
    <link rel="stylesheet" href="/css/style.css?v=29" />
    <link rel="Stylesheet" href="/css/bookviewer.css?v=3" />
    <link rel="stylesheet" href="/css/socicon.css?v=1" media="all" />
    <link rel="stylesheet" href="/css/cookieconsent.css" />
    <script src="/js/libs/modernizr-custom.js"></script>
    <link href="~/css/BookReader.css?v=5" rel="stylesheet" type="text/css" />
    <link href="~/css/bookviewer_extra.css?v=13" rel="stylesheet" type="text/css" />
    <!-- START OF SmartSource Data Collector TAG v10.4.23 -->
    <!-- Copyright (c) 2018 Webtrends Inc.  All rights reserved. -->
    <script type="text/plain" data-category="analytics" data-service="webtrends">
        window.webtrendsAsyncInit = function () {
            var dcs = new Webtrends.dcs().init({
                dcsid: "dcsse0w37bdzpxzj2yuxm4sap_9g8y",
                domain: "logs1.smithsonian.museum",
                timezone: -5,
                i18n: true,
                fpcdom: ".biodiversitylibrary.org",
                plugins: {
                }
            }).track();
        };
        (function () {
            var s = document.createElement("script"); s.async = true; s.src = "/js/webtrends.min.js";
            var s2 = document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s, s2);
        }());
    </script>
    <noscript><img alt="dcsimg" id="dcsimg" width="1" height="1" src="//logs1.smithsonian.museum/dcsse0w37bdzpxzj2yuxm4sap_9g8y/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.23&amp;dcssip=www.biodiversitylibrary.org" /></noscript>
    <!-- END OF SmartSource Data Collector TAG v10.4.23 -->
    @RenderSection("Javascript", required: false)
</head>
<body id="book-master" class="book-master">
    <script type="module" src="/js/cookieconsent-config.js?v=2"></script>
    <noscript>
        <div id="noscript-warning">BHL works best with JavaScript enabled</div>
    </noscript>
    <!--<div id="content-wrap">-->
    <header>
        <div class="column-wrap">
            <a id="logo" href="/">
                <h1>Biodiversity Heritage Library</h1>
            </a>
            <nav style="width:475;">
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageAbout"]">About</a>
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageHelp"]">Help</a>
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageFAQ"]">FAQ</a>
                <a href="/contact">Feedback</a>
                <span id="headersocialbook">
                    <span id="socicons"></span>
                    <script type="text/javascript" src="/js/socicon.js?v=1"></script>
                </span>
            </nav>
            <nav id="altmetricbadgebook" style="float:left;line-height:0px;margin-top:18px;">
                <div data-badge-popover="bottom" data-badge-type="donut" data-uri="" data-hide-no-mentions="true" data-no-score="true" data-template="biodiversitylibrary" class="altmetric-embed"></div>
            </nav>
            <div id="searchbar">
                <form action="/search" method="get">
                    <span id="searchbar-searchtype">
                        <input name="stype" id="rdoSearchTypeF" type="radio" value="F" style="margin:3px 3px 0px 4px;" checked /> <label for="rdoSearchTypeF">Full-text</label>
                        <input name="stype" id="rdoSearchTypeC" type="radio" value="C" style="margin:3px 3px 0px 4px;" /> <label for="rdoSearchTypeC">Catalog</label>
                        &nbsp;&nbsp;<a style="margin-top:-2px;" target="_blank" rel="noopener noreferrer" href="https://about.biodiversitylibrary.org/ufaqs/how-do-i-search-the-bhl-collection/"><img src="/images/help.png" alt="Search help" title="What's This?" height="16" width="16" /></a>
                    </span>
                    <a href="/advsearch" title="Advanced Search">advanced search</a>
                    <input type="text" name="searchTerm" id="searchTerm" class="field" />
                    <input type="submit" id="btnSearchSubmit" class="button" value="submit" />
                    @if (System.Web.Configuration.WebConfigurationManager.AppSettings["IIIFState"] == "toggle")
                    {
                        <style>
                            #book-master header #iiifLink a {
                                font-size: 12px;
                                color: #ff8400;
                                font-weight: bold;
                                text-decoration: none
                            }

                                #book-master header #iiifLink a:hover, #iiifLink a:active {
                                    color: #949494;
                                }
                        </style>
                        <div id="iiifLink" style="float:right; margin-top:30px;">
                            <a href="@ViewBag.IIIFLinkTarget?iiif=0">Use the "Classic" Book Viewer</a>
                        </div>
                    }
                </form>
            </div>
        </div>
    </header>
    @if (System.Web.Configuration.WebConfigurationManager.AppSettings["ShowNewFuture"].ToLower() == "true")
    {
        <div class="newfuturebanner">
            Announcing a new future for BHL! <a title="new future" href="@System.Configuration.ConfigurationManager.AppSettings["NewFutureNewsUrl"]">Learn more.</a>
        </div>
    }
    else
    {
        <div class="harmfulcontentbanner">
            Please read BHL&apos;s <a title="harmful content" href="https://about.biodiversitylibrary.org/about/harmful-content">Acknowledgment of Harmful Content</a>
        </div>
    }
    @Html.Action("_AlertMessage", "Partial")
    <div id="main">
        @RenderBody()
    </div>
    <!--</div>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-3.7.1.min.js"%3E%3C/script%3E'))</script>
    <script src="/js/plugins.js?v=3"></script>
    <script src="/js/script.js?v=8"></script>
    <script type="text/plain" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js" data-category="analytics" data-service="altmetric"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript" data-category="necessary">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('consent', 'default', {
            ad_storage: 'denied',
            ad_user_data: 'denied',
            ad_personalization: 'denied',
            analytics_storage: 'denied',
            functionality_storage: 'denied',
            personalization_storage: 'denied',
            wait_for_update: 500
        });
        gtag('set', 'ads_data_redaction', true);
        //gtag('set', 'url_passthrough', true);
        gtag('js', new Date());
        gtag('config', '@System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsTrackingID"]', {
            "dimension1": "@ViewBag.holdingInstitution",
            "dimension2": "@ViewBag.bookID",
            "dimension3": "@ViewBag.sponsor"
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=@System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsTrackingID"]"></script>
    <script type="text/plain" data-category="analytics" data-service="ga">
        gtag('consent', 'update', {
            personalization_storage: 'granted',
            functionality_storage: 'granted',
            analytics_storage: 'granted'
        });
    </script>
    <script type="text/plain" data-category="analytics" data-service="!ga">
        CookieConsent.eraseCookies(['_gid', /^_ga/], '/', location.hostname);
    </script>

</body>
</html>
