<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="The Biodiversity Heritage Library works collaboratively to make biodiversity literature openly available to the world as part of a global biodiversity community." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>@ViewBag.Title</title>
    @RenderSection("CSS", required: false)
    <link rel="stylesheet" href="/css/style.css?v=30" />
    <link rel="stylesheet" href="/css/socicon.css?v=1" media="all" />
    <link rel="stylesheet" href="/css/cookieconsent.css" />
    <script src="/js/libs/modernizr-custom.js"></script>

    <script type="text/javascript" data-category="necessary">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('consent', 'default', {
            ad_storage: 'denied',
            ad_user_data: 'denied',
            ad_personalization: 'denied',
            analytics_storage: 'denied',
            functionality_storage: 'denied',
            personalization_storage: 'denied',
            wait_for_update: 500
        });
        gtag('set', 'ads_data_redaction', true);
        //gtag('set', 'url_passthrough', true);
        gtag('js', new Date());
        gtag('config', '@System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsTrackingID"]');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=@System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsTrackingID"]"></script>
    <script type="text/plain" data-category="analytics" data-service="ga">
        gtag('consent', 'update', {
            personalization_storage: 'granted',
            functionality_storage: 'granted',
            analytics_storage: 'granted'
        });
    </script>
    <script type="text/plain" data-category="analytics" data-service="!ga">
        CookieConsent.eraseCookies(['_gid', /^_ga/], '/', location.hostname);
    </script>
    <!-- START OF SmartSource Data Collector TAG v10.4.23 -->
    <!-- Copyright (c) 2018 Webtrends Inc.  All rights reserved. -->
    <script type="text/plain" data-category="analytics" data-service="webtrends">
        window.webtrendsAsyncInit = function () {
            var dcs = new Webtrends.dcs().init({
                dcsid: "dcsse0w37bdzpxzj2yuxm4sap_9g8y",
                domain: "logs1.smithsonian.museum",
                timezone: -5,
                i18n: true,
                fpcdom: ".biodiversitylibrary.org",
                plugins: {
                }
            }).track();
        };
        (function () {
            var s = document.createElement("script"); s.async = true; s.src = "/js/webtrends.min.js";
            var s2 = document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s, s2);
        }());
    </script>
    <noscript><img alt="dcsimg" id="dcsimg" width="1" height="1" src="//logs1.smithsonian.museum/dcsse0w37bdzpxzj2yuxm4sap_9g8y/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.23&amp;dcssip=www.biodiversitylibrary.org" /></noscript>
    <!-- END OF SmartSource Data Collector TAG v10.4.23 -->
    @RenderSection("Javascript", required: false)
</head>
<body id="@ViewBag.BodyID">
    <script type="module" src="/js/cookieconsent-config.js?v=2"></script>
    <noscript>
        <div id="noscript-warning">BHL works best with JavaScript enabled</div>
    </noscript>
    <div id="content-wrap">
        <header>
            <div class="column-wrap">
                <a id="logo" href="/">
                    <h1>Biodiversity Heritage Library</h1>
                </a>
                <nav>
                    <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageAbout"]">About</a>
                    <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageHelp"]">Help</a>
                    <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageFAQ"]">FAQ</a>
                    <a href="/contact">Feedback</a>
                </nav>
                <span id="altmetricbadge">
                    <div data-badge-popover="bottom" data-badge-type="donut" data-uri="" data-hide-no-mentions="true" data-no-score="true" data-template="biodiversitylibrary" class="altmetric-embed"></div>
                </span>
                <span id="headersocial">
                    <span id="socicons"></span>
                    <script type="text/javascript" src="/js/socicon.js?v=1"></script>
                </span>
            </div>
        </header>
        @if (System.Web.Configuration.WebConfigurationManager.AppSettings["ShowNewFuture"].ToLower() == "true")
        {
            <div class="newfuturebanner">
                Announcing a new future for BHL! <a title="new future" href="@System.Configuration.ConfigurationManager.AppSettings["NewFutureNewsUrl"]">Learn more.</a>
            </div>
        }
        else
        {
            <div class="harmfulcontentbanner">
                Please read BHL&apos;s <a title="harmful content" href="https://about.biodiversitylibrary.org/about/harmful-content">Acknowledgment of Harmful Content</a>
            </div>
        }
        @Html.Action("_AlertMessage", "Partial")
        <div id="main">
            <nav id="content-nav">
                <div class="column-wrap">
                    <div id="browsebar">
                        <h3>Browse by:</h3>
                        <ul>
                            <li class="titles first-child"><a class="png_bg" href="/browse/titles/a">Title</a></li>
                            <li class="authors"><a class="png_bg" href="/browse/authors/a">Author</a></li>
                            <li class="year"><a class="png_bg" href="/browse/year">Date</a></li>
                            <li class="collection"><a class="png_bg" href="/browse/collections">Collection</a></li>
                            <li class="contributor last-child"><a class="png_bg" href="/browse/contributors">Contributor</a></li>
                        </ul>
                    </div>
                    <div id="searchbar">
                        <form action="/search" method="get">
                            <span id="searchbar-searchtype">
                                <input name="stype" id="rdoSearchTypeF" type="radio" value="F" style="margin:3px 3px 0px 4px;" checked /> <label for="rdoSearchTypeF">Full-text</label>
                                <input name="stype" id="rdoSearchTypeC" type="radio" value="C" style="margin:3px 3px 0px 4px;" /> <label for="rdoSearchTypeC">Catalog</label>
                                &nbsp;&nbsp;<a style="margin-top:2px;" target="_blank" rel="noopener noreferrer" href="https://about.biodiversitylibrary.org/ufaqs/how-do-i-search-the-bhl-collection/"><img src="/images/help.png" alt="Search help" title="What's This?" height="16" width="16" /></a>
                            </span>
                            <a href="/advsearch" title="Advanced Search">advanced search</a>
                            <input type="text" class="field" name="searchTerm" id="searchTerm" />
                            <input type="submit" class="button" id="btnSearchSubmit" value="submit" />
                        </form>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="column-wrap">
            <div class="social">
                <div id="socialleft" class="socialcolumn">
                    <div class="mailinglist">
                        <h3>Join Our Mailing List</h3>
                        <p>Sign up to receive the latest news, content highlights, and promotions</p>
                        <a class="subscribe" title="Subscribe to BHL Newsletter" target="_blank" rel="noopener noreferrer" href="http://library.si.edu/bhl-newsletter-signup"><img src="/images/envelope_icon.png" alt="subscribe here" /> Subscribe Here</a>
                    </div>
                    <div class="getinvolved">
                        <h3>Get Involved</h3>
                        <a class="community" target="_blank" rel="noopener noreferrer" href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageContribute"]">Ways To Contribute</a>
                    </div>
                </div>
                <div id="socialmiddle" class="socialcolumn">
                    <div class="harmfulcontent">
                        <h3>Harmful Content</h3>
                        <p>BHL acknowledges the existence of harmful content in many biodiversity science publications and original materials included in its collection. Please read BHL&apos;s <a title="harmful content" href="https://about.biodiversitylibrary.org/about/harmful-content">Acknowledgment of Harmful Content</a> for more information. </p>
                    </div>
                    <div class="toolsandservices">
                        <h3>Tools and Services</h3>
                        <p>BHL offers a wide range of free <a title="tools and services" href="https://about.biodiversitylibrary.org/tools-and-services/">tools and services</a> to support the use and re-use of our collections and data.</p>
                    </div>
                </div>
                <div id="socialright" class="socialcolumn">
                    <h3>
                        Now Online    <a title="Recent RSS" href="/recentrss">
                            <img style="vertical-align: middle;" alt="RSS" src="/images/rss.png" />
                        </a>
                    </h3>
                    <div class="onlinestats">
                        @Html.Action("_CollectionStats", "Partial")
                        <br />
                        <a title="Recent Additions" href="/recent">Recent Additions</a>
                    </div>
                    <div class="ourpartners">
                        <h3>BHL Consortium</h3>
                        <p>BHL operates as a <a title="consortium" href="https://about.biodiversitylibrary.org/about/bhl-consortium">worldwide consortium</a> of natural history, botanical, research, and national libraries working together to digitize the natural history literature held in their collections and make it freely available for open access as part of a global &quot;biodiversity community.&quot;</p>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="floatclear"></div>
        </div>
        <nav>
            <div class="column-wrap" style="text-align:center">
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageCopyright"]">Copyright and Reuse</a> |
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageDataDisclaimer"]">Data Disclaimer</a> |
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageDeveloper"]">Developer and Data Tools</a> |
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WikiPageMembers"]">Partners</a> |
                <a href="http://si.edu/Privacy">Privacy</a> |
                <a data-cc="show-preferencesModal" href="#">Cookies</a> |
                <a href="http://si.edu/Termsofuse">Terms of Use</a>
            </div>
        </nav>
        <nav>
            <div class="column-wrap" id="footersponsordiv">
                Major support and hosting provided by<br>
                <a href="https://library.si.edu/departments/biodiversity-heritage-library" target="_blank" rel="noopener noreferrer">
                    <img src="/images/sil_vertical_clr.png" title="Smithsonian Libraries and Archives" alt="Smithsonian Libraries and Archives">
                </a>
            </div>
        </nav>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-3.7.1.min.js"%3E%3C/script%3E'))</script>
    <script src="/js/plugins.js?v=3"></script>
    <script src="/js/script.js?v=8"></script>
    <script type="text/plain" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js" data-category="analytics" data-service="altmetric"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
